/* .nsiPage-sider-content {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.nsiPage-sider-sidebar {
    overflow: auto;
    min-height: 100px;
    max-height: 100%;
    background: transparent;
} */
