.psp-checking-o__filters {
  display: flex;
}

.psp-checking-objects__tableWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.psp-checking-objects__pagination {
  margin: 10px 0;
}

.psp-checking-objects__sider {
  border-right: 1px solid #dde8f0;
}

.psp-checking-objects__sider > .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

h2.ant-typography.psp-checking-objects__filter-title {
  font-size: 20px;
}

.psp-checking-objects__sider-collapse-button {
  color: #d9d9d9;
}

.psp-checking-objects__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-bottom: 0;
}

.psp-checking-objects__title-wrapper_is-sider-collapsed {
  justify-content: center;
}

.psp-checking-objects__search-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.psp-checking-objects__divider {
  margin: 0;
}

.psp-checking-objects__search-tree-wrapper-hidden {
  display: none;
}

.psp-checking-objects__search-tree > .ant-tree.ant-tree-icon-hide {
  overflow-y: auto;
}

.psp-checking-objects__row-span-cell {
  background-color: white;
  border-bottom: 1px solid #e2e2e2 !important;
}

.psp-checking-objects__action-text-wrapper {
  display: block !important;
  padding: 0 !important;
  white-space: normal;
}

.psp-checking-objects__action-text-wrapper > .ag-cell-wrapper {
  height: 100%;
}

.psp-checking-objects__action-text-wrapper > .ag-cell-wrapper > .ag-cell-value {
  height: 100%;
}


.psp-checking-objects__action-text-wrapper > .ag-cell-wrapper > .ag-cell-value > .ag-react-container {
  height: 100%;
}

.psp-checking-objects__action-text {
  height: 100%;

  padding: 5px 10px;

  line-height: 24px;
  overflow-wrap: break-word;
  overflow-y: auto !important;
}
