.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100%;
}

.add-violation-button {
  margin: 17px 10px;
}

.row-span-cell {
  background-color: white;
  border-bottom: 3px solid #e2e2e2 !important;
}

.action-text-wrapper {
  display: block !important;
  padding: 0 !important;
  white-space: normal;
}

.action-text-wrapper :global(.ag-react-container) {
  height: 100%;
}

.action-text {
  height: 100%;

  padding: 5px 10px;

  line-height: 24px;

  overflow-wrap: break-word;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}