.group {
  background-color: white;
  margin-bottom: 15px;
  padding-bottom: 40px;
  border-radius: 6px;
}

.groupHeaderBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupHeader {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-top: 20px;
  margin-left: 40px;
  padding: 4px 15px;
}

.groupHeaderButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkText {
  color: black;
  font-size: 20px;
}

.linkImage {
  color: #1890ff;
}

.button {
  margin-bottom: 15px;
  border-radius: 5px;
}

.deleteButton {
  color: #FF4D4F;
  font-size: 20px;
}

.infoText {
  margin-left: 55px;
}